.page-index {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 210px 30px 0 30px;
  box-sizing: border-box;
  overflow: hidden;
  background: #fafafa;
  z-index: 1;
  background-image: url("../images/banner@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  .ad{
    width: 100%;
    height: 130px;
    background: #fff;
    border-radius: 8px;
    padding: 20px 0 30px 0;
    box-shadow: 0 0 8px #d4e4fd;
    margin-bottom: 30px;
    z-index: 10;
    div{
      width: 50%;
      height: 80px;
      display: inline-block;
      float: left;
      background-image: url("../images/ring_bg.png");
      background-repeat: no-repeat;
      background-size: 60%;
      background-position-x: 55%;
      text-align: center;
      p:first-child{
        color: #5995EF;
        font-size: 32px;
        line-height: 55px;
      }
      p:last-child{
        color: #929292;
        font-size: 20px;
      }
    }
    .left_ad{
      border-right: 1px solid #EEEEEE;
    }
  }
  .addcar{
    width: 100%;
    ._title{
      width: 100%;
      height: 30px;
      line-height: 30px;
      font-size: 28px;
      color: #383838;
      margin-bottom: 30px;
      #icon-text{
        width: 4px;
        height: 30px;
        border-radius: 2px;
        background-color: #929292;
        display: inline-block;
        float: left;
        margin-right: 10px;
      }
      .help{
        display: inline-block;
        float: right;
        color: #5995EF;
        img{
          width: 30px;
          height: 30px;
          vertical-align: middle;
          margin-right: 10px;
          position: relative;
          top: -2px;
        }
      }
    }
    ._btn{
      width: 100%;
      height: 160px;
      border-radius: 8px;
      background-image: url("../images/card_bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0 0 8px #4992ff;
      p:first-child{
        width: 100%;
        display: inline-block;
        float: left;
        color: #fff;
        font-size: 42px;
        line-height: 80px;
        img{
          width: 48px;
          height: 48px;
          vertical-align: middle;
          margin-right: 15px;
          position: relative;
          top: -4px;
        }
      }
      p:last-child{
        font-size: 24px;
        color: #fff;
        opacity: .5;
      }
    }
    ._select{
      position: absolute;
      top: 430px;
      left: 30px;
      bottom: 150px;
      right: 30px;
      overflow: scroll;
      ._card{
        width: 100%;
        height: 160px;
        border-radius: 8px;
        // background-image: url("../images/card_bg.png");
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        padding: 55px 30px;
        box-sizing: border-box;
        box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        img{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1;
        }
        .carNum{
          width: 100%;
          height: 50px;
          // color: #fff;
          font-size: 36px;
          text-align: left;
          line-height: 50px;
          position: relative;
          z-index: 99;
          i{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background: rgba(0, 0, 0, .2);
            margin-right: 12px;
          }
          .carStatus{
            display: inline-block;
            float: right;
            width: 230px;
            height: 50px;
            text-align: right;
            font-size: 24px;
            border-left: 1px solid #fff;
            opacity: .5;
          }
        }
      }

    }
    .footer{
      position: absolute;
      left: 30px;
      bottom: 40px;
      right: 30px;
      img{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin-right: 8px;
      }
    }
  }


  .e-type-0 {
    color:#fff;
    background:linear-gradient(90deg,rgba(84,184,244,1),rgba(92,120,235,1));
  }
  .e-type-1 {
    color:rgba(0,0,0,1);
    background:linear-gradient(90deg,rgba(245,222,99,1),rgba(244,206,41,1))
  }
  .e-type-2 {
    color:#fff;
    background:linear-gradient(90deg,rgba(76,76,75,1),rgba(50,50,50,1));
  }
  .e-type-3 {
    color:rgba(0,0,0,1);
    background:linear-gradient(90deg,rgba(239,239,239,0.68),rgba(217,216,216,1));
  }
  .e-type-4 {
    color:rgba(0,0,0,1);
    background:linear-gradient(180deg,rgba(186,235,171,1),rgba(95,180,77,1))
  }
  .e-type-5 {
    color:rgba(0,0,0,1);
    background-image: linear-gradient(270deg,rgba(245,222,99,1),rgba(244,206,41,1));
    background-position: 0% 33%;
    background-repeat: no-repeat;
    background-color: #6EBD5D;
    background-size: 41% 100% !important;
  }
}
