.page-upload-license {
  padding-bottom: 60px;
  .container {
    position: relative;
    margin: 0 30px;
    padding: 40px 20px 40px;
    background: #FFFFFF;
    box-shadow:0px 0px 10px 0px rgba(89,149,239,0.1);
    border-radius:8px;
  }

  // 帮助
  .u-help {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url(../../images/icon_help_gray.png) no-repeat;
    background-size: 100% 100%;
  }

  .u-upload-box {
    margin: 30px auto 0;
    width:590px;
    height:360px;
    background:rgba(247,247,247,1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .upload-inner {
      width: 340px;
    }
  }

  .main-title-box.e-top {
    margin-top: 30px;
  }

  // 下一步
  .action {
    margin: 40px auto 0;
    width: 590px;
  }
}